{
  "extends": ["@antfu", "prettier", "plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "eslint-comments/no-unlimited-disable": "off",
    "vue/prop-name-casing": ["error", "camelCase"],
    "vue/attribute-hyphenation": "off"
  }
}
