@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply font-sans font-medium bg-gray-900 text-gray-50;
  height: 100%;

  @media only screen and (max-width: 480px) {
    height: 100vh;
  }
}

div#__nuxt,
#__layout,
#app {
  height: 100vh;
}

main {
  background: #1f2a37;
  background: -webkit-radial-gradient(center, #1f2a37, #111927);
  background: -moz-radial-gradient(center, #1f2a37, #111927);
  background: radial-gradient(ellipse at center, #1f2a37, #111927);
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-right);

  width: 100%;
}

#app {
  height: 100%;
}

pre {
  @apply text-xs;
  max-width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.image-cover {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

#app.ios *:not(input):not(textarea),
#app.android *:not(input):not(textarea) {
  -webkit-touch-callout: none;
  user-select: none;
}

strong {
  @apply font-medium;
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

.ios-safe-padding-top {
  padding-top: var(--safe-area-inset-top);
}

.ios-safe-margin-top {
  margin-top: var(--safe-area-inset-top);
}

.ios-safe-padding-bottom {
  padding-bottom: var(--safe-area-inset-bottom);
}

.position-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.position-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.container-padding-x {
  @apply px-4;
}

.scrollbar-vertical::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-horizontal::-webkit-scrollbar {
  height: 5px;
}

.scrollbar-vertical::-webkit-scrollbar-track,
.scrollbar-horizontal::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-vertical::-webkit-scrollbar-thumb,
.scrollbar-horizontal::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.momentum-scroll {
  -webkit-overflow-scrolling: touch;
}
